{% extends 'base.html.twig' %}

{% block header %}
    {% include 'common/header.html.twig' with {'height': 'h-[500px]', 'title': 'hype'} %}
{% endblock %}

{% block title %}HYPE.{% endblock %}

{% block content %}
    <div>
        <div>
            <fieldset class="border-2 border-opacity-50 border-orange rounded my-10">
                <legend class="font-title text-5xl text-textColor ml-5 px-2">DERNIERS JEUX.</legend>
                <div class="p-5 flex">
                    {% for game in games %}
                        {% include('game/game-card.html.twig') with {'game': game} %}
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="border-2 border-opacity-50 border-orange rounded h-40 my-10">
                <legend class="font-title text-5xl text-textColor ml-5 px-2">DERNIERS FILMS.</legend>
            </fieldset>
            <fieldset class="border-2 border-opacity-50 border-orange rounded h-40 my-10">
                <legend class="font-title text-5xl text-textColor ml-5 px-2">DERNIERS ALBUMS.</legend>
            </fieldset>
            <fieldset class="border-2 border-opacity-50 border-orange rounded h-40 my-10">
                <legend class="font-title text-5xl text-textColor ml-5 px-2">DERNIERES SERIES.</legend>
            </fieldset>
        </div>
    </div>
{% endblock %}
