<div class="mr-10">
    <a class="group" href="{{ path('app_game_show', {slug: game.slug}) }}">
        <div class="flex flex-col items-center relative">
            <div class="relative">
                <div class="absolute w-full h-full bg-gradient-to-t from-dark to-transparent group-hover:opacity-0 transition-opacity"></div>
                <div class="w-[250px] h-[300px] overflow-hidden border border-light rounded"><img class="w-full h-full object-cover" src="{{ asset("assets/images/"~game.image) }}" alt=""></div>
            </div>
            <div class="absolute bottom-3 group-hover:-bottom-3 group-hover:text-orange transition-all">{{ game.title }}</div>
            {% if game.liked %}
                <div class="absolute -right-5 -top-3">{% include 'icons/like.html.twig' with {'liked' : game.liked} %}</div>
            {% endif %}
        </div>
    </a>
</div>