{% extends 'base.html.twig' %}

{% block header %}
    {% include 'common/header.html.twig' with {'height': 'h-[500px]', 'title' : 'jeux'} %}
{% endblock %}

{% block title %}Jeux - HYPE.{% endblock %}

{% block content %}
    <div class="w-full">
        <fieldset class="border-2 border-opacity-50 border-orange rounded my-10">
            <legend class="boxTitle">Wishlist.</legend>
            <div class="p-5 flex">
                {% for gameNotDone in gamesNotDone %}
                    {% include('common/card.html.twig') with {'item': gameNotDone, 'itemPath': 'app_game_show'} %}
                {% endfor %}
            </div>
        </fieldset>
        <fieldset class="border-2 border-opacity-50 border-orange rounded my-10">
            <legend class="boxTitle">Backlog.</legend>
            <div class="p-5 flex">
                {% for gameDone in gamesDone %}
                    {% include('common/card.html.twig') with {'item': gameDone, 'itemPath': 'app_game_show'} %}
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endblock %}
