<div class="mr-10">
    <a data-swup-animation="header-big" class="group" href="{{ path(itemPath, {slug: item.slug}) }}">
        <div class="flex flex-col items-center relative w-[15rem] h-[20rem]">
            <div class="relative w-full h-full">
                <div class="absolute w-full h-full bg-gradient-to-t from-dark to-transparent group-hover:opacity-0 transition-opacity"></div>
                <div class="w-full h-full overflow-hidden border border-light rounded"><img class="w-full h-full object-cover" src="{{ asset("assets/images/"~item.poster) }}" alt=""></div>
            </div>
            <div class="absolute bottom-3 left-1/2 -translate-x-1/2 text-center w-full group-hover:-bottom-3 group-hover:text-orange transition-all">{{ item.title }}</div>
            {% if item.liked %}
                <div class="absolute -right-5 -top-3">{% include 'icons/like.html.twig' with {'liked' : item.liked} %}</div>
            {% endif %}
        </div>
    </a>
</div>