<div class="fixed bottom-5 left-1/2 -translate-x-1/2 flex items-center border-2 border-orange rounded-full overflow-hidden">
    <a data-swup-animation="header-small" href="{{ path('app_game_index') }}" class="py-5 pl-5 pr-3 border-r-2 border-orange bg-dark font-title text-3xl text-textColor">JEUX</a>
    <div class="py-5 px-3 border-r-2 border-orange bg-dark font-title text-3xl text-textColor">FILMS</div>
    <div class="py-5 px-3 border-r-2 border-orange bg-dark font-title text-3xl text-textColor">MUSIQUE</div>
    <div class="py-5 pl-3 pr-5 bg-dark font-title text-3xl text-textColor">SERIES</div>
</div>