<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="font-body text-2xl text-textColor bg-dark h-screen">
    <div class="header relative flex flex-col items-center">
        <a href="{{ path('app_home') }}" class="font-title text-7xl absolute top-1/2 z-10">HYPE<span
                    class="text-orange">.</span></a>
        <div class="w-full h-[500px] relative">
            <div class="absolute w-full h-full bg-gradient-to-t from-dark to-transparent"></div>
            <img class="w-full h-full object-cover" src="{{ asset("assets/images/"~cover) }}" alt=""/>
        </div>
    </div>
    <div class="flex w-full">
        {% include '/menu/menu.html.twig' %}
        <main class="w-full mx-5">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
