<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="font-body text-2xl text-textColor bg-dark">
<main id="swup">
    {% block header %}{% endblock %}
    <div class="flex w-full">
        {% include '/common/menu.html.twig' %}
        <div class="transition-fade w-full mx-5">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
</body>
</html>
